.main_wrapper {
  width: 95%;
  min-height: 10vh;
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;


}


.logo_wrapper {
    width: 80%;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:  auto;
    flex-direction: column;
    padding-top: 60px;
}
.logo{
    width: 80%;
    height: 100px;
  filter: drop-shadow(0px 40px 30px rgba(88, 179, 32, 0.25));
    margin-bottom: 20px;
}

.title{
    font-size: 18px;
    font-weight: 400
    ;
    text-align: center;
    color: #377516;
}



